<h1>Viewing Party Lite</h1>

<% if !current_user %>
  <p>you are logged in!</p>
  <%= link_to "Log out", '/logout', method: :delete %>
  <h3>Existing Users</h3>
<% @users.each do |user| %>
  <div id = 'user<%= user.id %>'>
    <p>E-mail: <%= user.email %></p>
  </div>
<% end %>
<%  else %>
<%= link_to "Create New User", "/users/new" %>
<%= link_to "I already have an account", "/login" %>
<% end %>



